*{
    margin: 0;
    padding: 0;
}
.container1{
    width: 100%;
    height: auto;
    background-color: black;
    padding-bottom: 10px;
}

.navigator{
    height: 8vh;
    width: 100%;
}

.body{
    height: auto;
    width: 100%;
}